/* test tailwind compatibility */
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
body {
  padding: 0;
  margin: 0;
}
#map {
  height: 100vh;
  width: 100vw;
}
me-main > me-wrapper {
  margin: 10px !important;
}

.map-canvas img {
  display: block;
  object-fit: contain;
}

.map-container me-tpc > * {
  pointer-events: all !important;
}

.map-canvas h1,
.map-canvas h2,
.map-canvas h3,
.map-canvas h4,
.map-canvas h5,
.map-canvas h6,
.map-canvas p {
  margin: 0;
}
